# PACKAGING
# -------------------------
CLIENT_NAME="spk"
PROJECT_NAME="museum-4punkt0"
WEZIT_VERSION="3"
WEZIT_APPLICATION_ID="wzobj_application_6cf19cee-3987-4e1d-8a56-de778e91026f"
WEZIT_ENTITY_ID="005064"
WSQL_LOCAL_SERVER="1"
LAUNCH_DATA_GRABBER="0"
CDN_URL="https://static.wezit.io"
SOURCE_URL="https://minio1.mazedia.fr/jenkins"

# RECETTE Environment
# -------------------------
RECETTE_SITE_URL="spk.recette.docker4.mazedia.fr"
RECETTE_INTERNAL_IP="docker4.mazedia.fr"
RECETTE_SSH_PORT="22"
RECETTE_UNIX_USER="deploy"
RECETTE_DOCUMENT_ROOT="/home/deploy/static_websites/5064_spk"

